body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	transition: background-color 1s ease;
	background-color: #2F8FED;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	top: 0;
}

h1 {
	font-size: 4em;
	font-weight: 300;
}

p {
	font-size: 1.5em;
	font-weight: 300;
}

button a {
	color: #FFF;
}

.footer {
	position: absolute;
	bottom: 20px;
	margin: auto;
	font-size: 0.5em;
}

.ui.basic.huge.button {
	margin: 10px;
	display: inline-block;
	font-size: 3em;
}

.social {
	width: 100%;
	padding: auto;
}

.card {
	display: inline-block;
	margin: 20px;
	/*padding: 10px;*/
	width: 20%;
	min-width: 250px;
}

.card p {
	font-size: 1.2em;
}

.card ul {
	padding-left: 0;
}

.picture-me {
	content: url("../img/me.jpg");
	max-width: 300px;
	margin: 0 auto 2.5% auto;
	box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.8);
}

.round {
	border-radius: 50%;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.content {
	width: 80%;
	margin: 0 auto;
	display: block;
}

.header {
	width: 100%;
	font-size: 3em;
	font-weight: 300;
	margin: 30px auto 2.5% auto;
	display: block;
	text-transform: uppercase;
}

.black {
	color: #000;
}

.white {
	color: #FFF;
}

.main {
	margin-top: 7.5%;
	display: block;
}

.width {
	width: 100%;
}

.bottom {
	margin: 0 auto;
	font-size: 4em;
	position: absolute;
	bottom: 5%;
}

.top h1 {
	margin: 10px;
}

.top p {
	margin: 0;
}

#page-one {
	color: #FFF;
	position: relative;
}

.full-screen {
	width: 100vw;
	height: 100vh;
	margin: auto;
}

.full-width {
	width: 100vw;
	margin: auto;
}

.full {
	width: 100%;
	height: 100%;
}

.top {
	margin: 20% auto;
}

.center {
	text-align: center;
}

.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  /*align-items: center;*/
   /*outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

/* colours */

.color-blue {
	background-color: #2F8FED;
}
.color-white {
  	background-color: #FFFFFF;
}
.color-orange {
  	background-color: #E38466;
}
.color-purple {
	background-color: #B693D7;
}
.color-teal {
	background-color: #5BD18B;
}
.color-charcoal {
	background-color: #2C2B2E;
}
.color-eight {
	background-color: #F2293A;
}

/*  EFFECTS  */
#subhead-one {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 0.3s;
}

#arrows-down {
  -webkit-animation-duration: 2.2s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-duration: 2.2s;
  -moz-animation-delay: 0.7s;
}

.invisible {
	transition: opacity 0.5s ease;
	opacity: 0.0;
}

.visible {
	transition: opacity 0.5s ease;
	opacity: 1.0;
}

@media (max-width: 650px) {
	.top {
		margin: 15% auto 0 auto;
	}

	.bottom {
		margin: 0 auto;
		font-size: 4em;
		position: absolute;
		bottom: 10%;
	}

	p {
		font-size: 1.3em;
	}
}