/*******************************
*********RESPONSIVE CSS*********
*******************************/

/* MOBILE OPTIMIZATION */

@media (width: 650px) {
	.top {
		margin: 15% auto 0 auto;
	}

	.bottom {
		margin: 0 auto;
		font-size: 4em;
		position: absolute;
		bottom: 15%;
	}

	p {
		font-size: 1.3em;
	}

	.work {
		/*width: 50%;*/
	}
}

/*******************************
*********ELEMENTS CSS***********
*******************************/

body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	transition: background-color 1s ease;
	background-color: #2F8FED;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	top: 0;
}

h1 {
	font-size: 4em;
	font-weight: 300;
}

p {
	font-size: 1.5em;
	font-weight: 300;
}

a {
	color: #FFF;
	text-decoration: none;
}

button a {
	color: #FFF;
}


/*******************************
*************ID CSS*************
*******************************/

#page-one {
	color: #FFF;
	position: relative;
}


/*******************************
*********CLASSES CSS************
*******************************/

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.full-screen {
	width: 100vw;
	height: 100vh;
	margin: auto;
}

.panel {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
}

.full-width {
	width: 100vw;
	margin: auto;
}

.top {
	margin: 20% auto;
}

	.top h1 {
		margin: 10px;
	}

	.top p {
		margin: 0;
	}

.main {
	margin-top: 7.5%;
	display: block;
}

.bottom {
	margin: 0 auto;
	font-size: 4em;
	position: absolute;
	bottom: 5%;
}

.center {
	text-align: center;
}

.content {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.black {
	color: #000;
}

.charcoal {
	color: #4A494F;
}

.white {
	color: #FFF;
}

.header {
	width: 100%;
	font-size: 3em;
	font-weight: 300;
	margin: 30px auto 2.5% auto;
	display: block;
	text-transform: uppercase;
}

.picture-me {
	content: url("../img/me.jpg");
	max-width: 300px;
	margin: 0 auto 2.5% auto;
	box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.8);
}

.round {
	border-radius: 50%;
}

.card {
	display: inline-block;
	margin: 20px;
	/*padding: 15px;*/
	width: 20%;
	min-width: 250px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

	.card h4 {
		font-weight: 400;
	}

	.card p {
		font-size: 0.8em;
		font-weight: 300;
	}

	.card ul {
		padding-left: 0;
		list-style: none;
		font-size: 0.8em;
		padding-bottom: 20px;
	}

	.card .course {
		font-size: 0.9em;
		font-weight: 700;
	}

.work {
	width: 30%;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

	.work a {
		color: #FFF;
	}

.edu {

}

	.edu a {
		color: #4A494F;
	}

.border {
	border: 1px solid #F2F2F2;
}

.border-dark {
	border: 1px solid #333434;
}

.footer {
	position: absolute;
	bottom: 20px;
	margin: auto;
	font-size: 0.5em;
}

.social {
	width: 100%;
	font-size: 7em;
}

	.social i {
		margin: 0 30%;
	}

		.social i:hover {
			color: #4197D3;
		}

.width {
	width: 100%;
}


/*******************************
*********ADDITIONAL CSS*********
*******************************/

/* STAR RATINGS */

.one-star:after {
	content: "★☆☆☆☆";
}

.two-stars:after {
	content: "★★☆☆☆";
}

.three-stars:after {
	content: "★★★☆☆";
}

.four-stars:after {
	content: "★★★★☆";
}

.five-stars:after {
	content: "★★★★★";
}


/* COLORS */

.color-blue {
	background-color: #4197D3;
}

.color-blue-grey {
	background-color: #4C606C;
}

.color-blue-light {
	background-color: #A8FFE3;
}

.color-salmon {
	background-color: #FFA08E;
}

.color-red {
	background-color: #CC2D2A;
}

.color-white {
	background-color: #FFF;
}

.color-charcoal {
	background-color: #2C2B2E;
}

.color-grey {
	background-color: #58565E;
}


/*  EFFECTS  */

#subhead-one {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 0.3s;
}

#arrows-down {
  -webkit-animation-duration: 2.2s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-duration: 2.2s;
  -moz-animation-delay: 0.7s;
}

.invisible {
	transition: opacity 0.5s ease;
	opacity: 0.0;
}

.visible {
	transition: opacity 0.5s ease;
	opacity: 1.0;
}