@import './normalize.css';
@import './skeleton.css';

/* SITE STYLES */

html {
  font-size: 10px;
}


/* COMPONENTS */

.card {
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.8);
  padding: 2rem 2rem;
  background-image: linear-gradient(#ffffff, #e8e8e8)
}

.skill-card {
  padding: 2rem 2rem;
  display: inline-block;
  box-sizing: border-box;
}

.link {
  cursor: pointer;
}

.link:hover {
  color: #615192;
}


/* UTILITIES */

.u-round {
  border-radius: 50%;
}

.u-rounded {
  border-radius: 5px;
}

.u-upcase {
  text-transform: uppercase;
}

.u-lowercase {
  text-transform: lowercase;
}

.u-margin-top-4 {
  margin-top: 4rem;
}

.u-db {
  display: block;
}


/* SPECIAL */

/* STAR RATINGS */

.rating {
  color: #FFF0AA;
}

.one-star:after {
	content: "★☆☆☆☆";
}

.two-stars:after {
	content: "★★☆☆☆";
}

.three-stars:after {
	content: "★★★☆☆";
}

.four-stars:after {
	content: "★★★★☆";
}

.five-stars:after {
	content: "★★★★★";
}


/* SECTIONS */

/* Resume */

#resume {
  text-align: center;
  width: 100%;
  overflow-wrap: break-word;
  color: #303030;
}

#resume > section {
  min-height: 100vh;
  padding: 4rem;
  box-sizing: border-box;
}


/* Code */

#code {
  text-align: left;
  background-color: #161616;
  color: #f2f2f2;
}


/* Hero */

#hero {
  background-image: linear-gradient(#f2f2f2, #7887AB)
}

.hero__content {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

.hero__heading {
  font-weight: 100;
  font-size: 6rem;
  text-transform: uppercase;
}

.hero__sub-heading {
  font-weight: 100;
  font-size: 3rem;
  width: auto;
  margin: 0 auto;
}


/* Bio */

#bio {
  background-color: #7887AB;
  background-image: linear-gradient(#7887AB, #f2f2f2)
}

.bio__heading {

}

.bio__sub-heading {

}

.bio__content {
  
}

.bio__img {
  max-width: 300px;
	margin: 0 auto 4rem auto;
	box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.8);
}

.bio__blurb {
  font-size: 2rem;
  font-weight: 500;
  max-width: 80%;
  margin: 0 auto;
}


/* Experience */

#experience {
  background-color: #f2f2f2;
  color: #403075;
}

.experience__heading {

}

.experience__sub-heading {

}

.experience__jobs {
  
}

.experience__job {
  margin-bottom: 3rem;
}

.experience__job-company {
  text-transform: uppercase;
}

.experience__job-title {
  color: #303030;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: lowercase;
  margin-bottom: 0.5rem;
}

.experience__job-dates {
  color: #303030;
  opacity: 0.8;
  font-weight: 200;
  font-size: 1.8rem;
}

.experience__job-duties {
  list-style: none;
  color: #303030;
}

.experience__job-duty {

}


/* Skills */

#skills {
  background-color: #303030;
  color: #f2f2f2;
}

.skills__heading {

}

.skills__sub-heading {

}

.skills__stack-list {
  
}

.skills__stack-item {
  
}

.skills__stack-item > h3 {
  
}

.skills__stack-item > h4 {
  
}


/* Contact */

#contact {
  background-color: #2E4172;
  color: #f2f2f2;
}

.contact__heading {

}

.contact__sub-heading {
  font-size: 2.5rem;
}

.contact__content {

}

.contact__content > a:hover {
  color: #f2f2f2;
}

.contact__email {
  font-size: 8rem;
}

.contact__github {
  font-size: 8rem;
}

.contact__linkedin {
  font-size: 8rem;
}


/* MEDIA QUERIES */

/* Larger than mobile */
@media (min-width: 400px) {
  .skill-card {
    width: 100%;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .skill-card {
    width: 100%;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .skill-card {
    width: 50%;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .skill-card {
    width: 33.33%;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .skill-card {
    width: 25%;
  }
}