@import './normalize.css';
@import './skeleton.css';

/* SITE STYLES */

html {
  font-size: 10px;
}


/* COMPONENTS */

.card {
  
}

.link {

}


/* UTILITIES */

.u-round {
  border-radius: 50%;
}


/* SECTIONS */

/* Resume */

#resume {
  text-align: center;
  width: 100%;
  overflow-wrap: break-word;
}

#resume > section {
  min-height: 100vh;
}


/* Hero */

#hero {
  
}

.hero__content {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

.hero__heading {
  font-weight: 100;
  font-size: 6rem;
  text-transform: uppercase;
}

.hero__sub-heading {
  font-weight: 100;
  font-size: 3rem;
  text-transform: lowercase;
}


/* Bio */

#bio {
  
}

.bio__heading {

}

.bio__sub-heading {

}

.bio__img {
  max-width: 300px;
	margin: 0 auto 2rem auto;
	box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.8);
}

.bio__blurb {
  
}


/* Experience */

#experience {
  
}

.experience__heading {

}

.experience__sub-heading {

}

.experience__jobs {

}

.experience__job {
  
}

.experience__job-company {

}

.experience__job-title {
  
}

.experience__job-dates {
  
}

.experience__job-duties {
  
}

.experience__job-duty {

}


/* Skills */

#skills {
  
}

.skills__heading {

}

.skills__sub-heading {

}

.skills__stack-list {

}

.skills__stack-item {
  
}

.skills__stack-item > h3 {
  
}

.skills__stack-item > h4 {
  
}


/* Contact */

#contact {
  
}

.contact__heading {

}

.contact__sub-heading {

}

.contact__email {

}

.contact__github {
  
}

.contact__linkedin {

}
